{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h1>Aplicación para generar archivos csv con todos los Sizes por Categoría</h1>
    <p>La idea es subir al sitio los archivos csv de ofertas pre-book con Size-category pero sin valor en Size y poder
      bajar el archivo procesado con todos los Sizes para cada categoría, para luego poder importar correctamente la oferta.
    </p>
    <a type="button" class="btn btn-lg btn-default" href="./file"><span class="glyphicon glyphicon-flash"></span> Comenzar a trabajar</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Esta aplicación web no mantendrá los archivos subidos por más de 24 horas.
  </div>
  <hr>
</div>
{% endblock %}
